.banner {
    background-image: url('../img/banner-bg.JPG'); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Alegreya Sans SC", sans-serif;
  }
  
  .banner h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  